@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    perspective: 850px;
}

.mainContainer {
    width: 50%;
    /*background-color: lightpink;*/

}

.cardContainer {
    max-height: 40em;
    width: 27em;
    border-radius: 30px;
    padding: 0 6em;
    box-shadow: 0 20px 20px rgba(0,0, 0, 0.2), 0px 0px 35px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.sneaker {
    min-height: 25vh;
}
.sneaker img {
    width: 17em;
    position: relative;
    transition: all 0.75s ease-out;
}

.circle {
    width: 11em;
    height: 11em;
    background: linear-gradient(45deg, #d3e05e, #7cb9dc, #3068ae );
    position: absolute;
    border-radius: 50%;
}

.title {
    font-size: 2.1em;
    font-weight: bold;
    padding-bottom: .4em;
    padding-top: .6em;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 1.5em;
    padding: .1em 0;
    color: lightslategrey;
    transition: all 0.75s ease-out;
}

.sizes button {
    margin: 2.5em .5em 0 .5em;
    padding: .5em 2em;
    background: none;
    border: none;
    box-shadow: 0 7px 10px rgba(0,0, 0, 0.2);
    border-radius: 30px;
    font-weight: bold;
    font-size: small;
    color: #343434;
    transition: all 0.75s ease-out;
}

button.active {
    background: lightslategrey;
    color: whitesmoke;
}

.purchase {
    margin-top: 5em;
    transition: all 0.75s ease-out;
}

.purchase button {
    width: 100%;
    height: 2em;
    padding: 0;
    margin-bottom: 2em;
    background: #d3e05e;
    border: none;
    color: #343434;
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
    border-radius: 30px;
}


